
h1{
    padding:20px;
    border:20px solid green;
    margin: 20px;
}
#p1{
    font-weight: 600;
    font-style: italic;
}
#p2{
    font-style: italic;
}
nav{
    display:flex;
    flex-direction: row;
    gap:20px;
}
ol{
    list-style-type: upper-roman;
}
ul{
    list-style-type: none;
}
table,td,th{
    border:1px solid black;
    border-collapse:collapse;
}
th{
    background-color: aliceblue;
}
button{
    background-color: beige;
    border-radius: 5px;
    padding: 5px;
    margin: 20px;
}
button:hover{
    background-color: brown;
}
h1:hover{
    color: blue;
}
form{
    height: 100px;
    width: 50%;
    background-color: gray;
    padding: 100px;
}
.grid{
    display: grid;
    width:100%;
    grid-template-columns:33% 33% 33%;
}
#one{
    grid-row: 1/2;
    background-color: antiquewhite;
    height: 50px;
}
#two{
    grid-row:1/2;
    background-color: beige;
    
}
#three{
    grid-row: 1/2;
    background-color:blue ;
}
#four{
    grid-row:2/3;
    background-color: brown;
    height: 50px;
}
#five{
    grid-row:2/3 ;
    background-color: chartreuse;
}
#six{
    grid-row: 2/3;
    background-color: blueviolet;
}
.cars{
    display:grid;
    grid-template-columns: 50% 50%;
}
p{
    color:red;
}
img{
    height:500px;
    width:500px;
    background-color:darkgreen ;
    padding:100px;
}
@media(min-width:1024px){
    nav{
        display:flex;
        flex-direction:row;
        gap:50px;
    }
    .grid{
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
}
